body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

.cardItem {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
  transition: transform 0.5s linear;
}

.cardItem #card__img {
  border-bottom-left-radius: 50%;  
  border-bottom-right-radius: 50%;  
}

.cardItem:hover #card__img {
  transform: scale(1.06);
}

.cardItem h4 {
  border-bottom: 2px solid #e63b1f;
  padding-block: 5px;
}

.cardItem h6, .cardItem p {
  font-size: 14px;
}

.team__member__count {
  padding: 5px 10px;
  background: linear-gradient(-145deg, #e63b1f 0%, #3A1C71 100%);
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.showUnique {
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.87) 5px 5px 0px, rgba(0, 0, 0, 0.87) -5px -5px 0px, rgba(0, 0, 0, 0.87) 5px 5px 0px 0px, rgba(0, 0, 0, 0.87) -5px -5px 0px 0px;
  background: linear-gradient(-145deg, #e63b1f 0%, #3A1C71 100%);
}


/* ---------- */
.group__card {
  border: 1px solid #e63b1f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background: #e3e3e3; */
  display: flex;
  justify-content: center;
}
.group__card h4 {
  color: #000;
  text-align: center;
  /* background: #e63b1f; */
}
.group__card h4 span {
  font-family: cursive;
  font-weight: 800;
}

.grouped {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.grouped .group__item {
  padding: 10px;
  background: linear-gradient(-145deg, #e63b1f 0%, #3A1C71 100%);
  color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar, footer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(90deg, #e63b1f 0%, #3A1C71 100%);
  padding-inline: 100px;
}

header .row {
  margin-top: 10px;
}


@media(max-width: 768px) {
  .navbar {
    padding-inline: 10px;
  }
  .navbar ul {
    flex-direction: row;
    padding-inline: 5px;
    gap: 5px;
  }
  .navbar ul li {
    font-size: 19px;
  }
  header .row {
    margin-top: 2px;
  }
  
  .card {
    width: 90vw;
  }

  .sticky-top select .option {
    font-size: 14px;
  }
  
  .sticky-top select .option .span {
    display: none !important;
    font-size: 10px !important;
  }
}